<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>CITIES</title>
  </head>

  <body>
    <div class="title">
      <h1>First City</h1>
      <h2>
        Name  = <%= kota.cities[0].name %>
      </h2>
      <h2>
        Province = <%= kota.cities[0].name %>
      </h2>
      <h1>Second City</h1>
      <h2>
        Name = <%= kota.cities[0].name %>
      </h2>
      <h2>
        Province = <%= kota.cities[0].name %>
      </h2>
    </div>
  </body>

</html>
