

<table border="1">
  <tr>
    <td>kota</td>
    <td>province</td>
  </tr>
<% for ( var i = 0; i < data.length; i++) {%>
  <tr>
    <td><%= data[i].name %></td>
    <td><%= data[i].province %></td>
  </tr>
<%}%>
</table>
