<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>cities</title>
  </head>
  <body>
    <div><b>Cities List</b></div>
    <div>=============================</div>
    <div>name : <%=viewCities()[0]%></div>
    <div>province : <%=viewCities()[1]%></div>
    <div>------------------------------</div>
    <div>name : <%=viewCities()[2]%></div>
    <div>province : <%=viewCities()[3]%></div>
  </body>
</html>