<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ABOUT</title>
  </head>
  <link rel="stylesheet" href="/contoh.css">
  <link rel="stylesheet" href="/sesuatu.css">

  <body>
    <div class="title">
      <br> nama =  <%= message2.cities[0].name %> </br>
      <br> province = <%= message2.cities[0].province %> </br>
      <br> nama = <%= message2.cities[1].name %> </br>
      <br> province = <%=message2.cities[1].province %> </br>
    </div>
  </body>
</html>
