<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cities</title>
  </head>
  <body>
    <h1>
    <table border = "1">
    <tr>
      <td>Kota</td>
      <td>Provinsi</td>
    </tr>
    <%for(let i = 0; i < datauser.cities.length; i++){%>
    <tr>
      <td><%=datauser.cities[i].name%></td>
      <td><%=datauser.cities[i].province%></td>
    </tr>
      <%}%>

    </table>
    </h1>
  </body>
</html>
