<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>CITIES</title>
  </head>

  <body>
    <div class="title">
      <h1>KOTA 1</h1>
      <h2>
        NAMA KOTA  = <%= kota.name1 %>
      </h2>
      <h2>
        PROVINSI = <%= kota.provinsi1 %>
      </h2>
      <h1>KOTA 2</h1>
      <h2>
        NAMA KOTA = <%= kota.name2 %>
      </h2>
      <h2>
        PROVINSI = <%= kota.provinsi2 %>
      </h2>
    </div>
  </body>

</html>
