<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cities Page</title>
  </head>
  <body>
    <h1>Halo Cities Page</h1>
    <div>
      <%= citydata1 %> <br>
      <%= citydata2 %>
    </div>
  </body>
</html>
