<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>City</title>
  </head>
  <link rel="stylesheet" href="/style.css">
  <!-- <link rel="stylesheet" href="/sesuatu.css"> -->
  <body>
    <div class="kota">
      <marquee>
        <%show_kota.forEach(function(isi){ %>
      <br>  <%= "Kota : "+ isi.name %> </br>
      <br>  <%= "Provinsi : "+ isi.province %> </br>
      <% }) %>
    </marquee>
    </div>
  </body>
</html>
