<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="welcome">
      <h1>Welcome to my App</h1>
      
      <button class="button" onclick="location.href='/users'"><span>See Users Data </span></button>
      <br/>
      <button class="button" onclick="location.href='/cities'"><span>See Cities Data </span></button>
    </div>
  </body>
</html>