<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HOST</title>
  </head>
  <!-- <link rel="stylesheet" href="/contoh.css">
  <link rel="stylesheet" href="/sesuatu.css"> -->
  <body>
    <div class="kota">
      <marquee>
        <%show_users.forEach(function(isi){ %>
      <br>  <%= "Nama :"+ isi.username %> </br>
      <br>  <%= "Password : " + isi.password %> </br>
      <br>  <%= "Email : " + isi.email %> </br>
    <% }) %>
    </marquee>
    </div>
  </body>
</html>
