<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HOST</title>
  </head>
  <!-- <link rel="stylesheet" href="/contoh.css">
  <link rel="stylesheet" href="/sesuatu.css"> -->
  <body>
    <div class="kota">
      <marquee>
      <br>  <%= "Nama :"+show_users[0].username %> </br>
      <br>  <%= "Password : " + show_users[0].password %> </br>
      <br>  <%= "Email : " + show_users[0].email %> </br>
    </marquee>
    </div>
  </body>
</html>
