<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ABOUT</title>
  </head>
  <link rel="stylesheet" href="/contoh.css">
  <link rel="stylesheet" href="/sesuatu.css">

  <body>
    <div class="title">
      <h1>Data User</h1>
      <p>User Name: <%= JSON.stringify(readFile.users[0].username) %></p>
      <p>Password: <%= JSON.stringify(readFile.users[0].password) %></p>
      <p>Email: <%= JSON.stringify(readFile.users[0].email) %></p>
    </div>
  </body>
</html>
