<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>main</title>
  </head>
  <body>
  <h2>Data User</h2>
  <a href= "/users">Data Users</a>
  <br>
  <a href= "/cities">Data Cities</a>
  </body>
</html>
