<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Belajar Express</title>
  </head>
  <body>
    <h1>

      <table border = "1">
    <tr>
      <td>Username</td>
      <td>Password</td>
      <td>Email</td>
    </tr>
    <%for(let i = 0; i < datauser.users.length; i++){%>
    <tr>
      <td><%=datauser.users[i].username%></td>
      <td><%=datauser.users[i].password%></td>
      <td><%=datauser.users[i].email%></td>
    </tr>
      <%}%>

    </table>
    </h1>
  </body>
</html>
