<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ABOUT</title>
  </head>
  <link rel="stylesheet" href="/contoh.css">
  <link rel="stylesheet" href="/sesuatu.css">

  <body>
    <div class="title">
      <marquee>  <%= username %> </marquee>
      <marquee>  <%= email %> </marquee>
    </div>
  </body>
</html>
