<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Page</title>
  </head>
  <body>
    <h1>Helo Users Page</h1>
    <div>
      <%= userdata1 %> <br>
      <%= userdata2 %>
    </div>
  </body>
</html>
